<div class="container2">
    <div class="panel panel-info" >
   <div style="background-color:#3db4d8;" class="panel-heading" >
   </div>
       {% if role  == "mahasiswa" %}
       <div class="panel-body">
           <section name="form">
               <form id="form" method="POST" action="{% url 'lab-login:post-status' %}">
                   {% csrf_token %}
                   {{ status_form }}
                   <br>
                   <div class="but">
                       <input id="submit" type="submit" class="post-button" value="Post">
                   </div>
               </form>
           </section>
       </div>
       {% else %}
       <p></p>
       {% endif %}
   </div>
   {% for status in Status %}
   <div class="panel panel-default">
       <div class="panel-heading" >
       <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" class="img-circle" height="50" width="50" align="left"></img>
           <h3> {{ user.name }} </h3>
           <h5> at {{ status.created_at }} </h5>
       </div>
       <div class="panel-body">
           <p class="status-text"> {{ status.description }} </p>
       </div>
   </div>
   {% endfor %}
</div>