{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Riwayat Mahasiswa">
{% endblock %}
{% block stylescript_app %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<style>
table {
    border-collapse: collapse;
    width: 100%;
	border : none;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<div style="margin: -40px 20px 20px 20px">
    <!-- Fill Something Here -->
	<table id = "test" style="">
	</>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

	var dataGet;

	$.ajax({
        method: "GET",
        url: 'https://private-e52a5-ppw2017.apiary-mock.com/riwayat',
        data: {},
        dataType: 'json',
        success: function (response) {
			console.log(response)
			for (inc in response){
				dataGet = response[inc];
				console.log(dataGet)
				if( '{{mahasiswa.show_score}}' == 'True'){
					html = "<tr>" +
								"<td><b>"+ dataGet.class.nm_mk_cl.nm_mk +"</b></td>"+
								"<td><b>"+ dataGet.nilai +"</b></td>"+
							"</tr>";
				}
				else{
					try{
					html = "<tr>" +
								"<td><b>"+ dataGet.class.nm_mk_cl.nm_mk +"</b></td>"+
								"<td><b>Secret</b></td>"+
							"</tr>";
					}
					catch(err){
					html = "";
					}
				}
				$("#test").append(html)
			}
		},
	});
</script>
{% endblock %}
{% block footer %}{% endblock %}