#myInput {
  background-image: url('../img/searchicon.png');
  float: left!important;
  background-position: 10px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #BBDEFB
}
tr:nth-child(odd) {
    background-color: #E3F2FD
}


th{
  background-color: #64B5F6
}

table td,table th{
  border: 1px solid silver;
}