<nav class="navbar navbar-default navbar-static-top" style="background-color:lightgray;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	   
	 <div id="navbar" class="navbar-collapse collapse" style="background-color:lightgray;">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
		    <li class="objekKedua"><a href="{% url 'lab-login:dashboard'%}" ><img src="http://pngimages.net/sites/default/files/home-png-image-51306.png" ></img></a></li>
        <li class="objekPertama" ><a href="{% url 'lab-login:auth_logout' %}"><img src="http://www.global-marches.com/public/images/logout-1-512.png" ></img></a></li>
      </ul>
    </div><!--/.nav-collapse -->
    
  </div>
</nav>