<div class="panel-body">
    <p> Name : {{ nama }} </p>
    <p> NPM : {{ kode_identitas }} </p>
    <p> Skills : {{ keahlian }} </p>
    <p> Email : {{ email }} </p>
    <p> LinkedIn : {{ linkedin }} </p>
</div>