#myInput {
  background-image: url("../img/searchicon.be93f525885d.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table td,table th{
  border: 1px solid silver;
}
.headerSortDown:after,
.headerSortUp:after,
.headerSortInvis:after{
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}
.headerSortDown:after{
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after{
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortInvis:after{
    top:10px;
}
.headerSortDown,
.headerSortUp,
.headerSortInvis{
  padding-right: 10px;
}