#myInput {
  background-image: url('../img/searchicon.png');
<<<<<<< HEAD
  background-position: 10px 5px;
  background-repeat: no-repeat;
  width: 100%;
=======
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
>>>>>>> master
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

<<<<<<< HEAD
tr:nth-child(odd) {
    background-color: #fff4af
}

th{
  background-color: #f2f2f2
=======
tr:nth-child(even) {
    background-color: #f2f2f2
>>>>>>> master
}

table td,table th{
  border: 1px solid silver;
}
<<<<<<< HEAD

.pull-right{
  float: left!important;
=======
.headerSortDown:after,
.headerSortUp:after,
.headerSortInvis:after{
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}
.headerSortDown:after{
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after{
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortInvis:after{
    top:10px;
}
.headerSortDown,
.headerSortUp,
.headerSortInvis{
  padding-right: 10px;
>>>>>>> master
}