#myInput {
  background-image: url("../img/searchicon.be93f525885d.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #fff4af
}

th{
  background-color: #f2f2f2
}

table td,table th{
  border: 1px solid silver;
}

.pull-right{
  float: left!important;
}