{% extends "lab_login/layout/base2.html" %}
{% load staticfiles %}
{% load static %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab_login.css' %}" />
</head>

{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#3db4d8">
        <b><p class="head" > Welcome Basecamp Devotee, {{ user.name }} </h2></p>
    </div>
    <div class="panel-body" style="background-color: lightgray;">
		<img src={{ gambar }} class="img-circle" height="150" width="150" align="left"></img>
        <b style="text-align:left"><img src="https://png.icons8.com/metro/540/new-post.png" width="35px" height="35px" id="img-forum"></img> {{ status_count }}</b><br>
		<h4 style="text-align:center;float:up;" class="last-status"><br> <p style="text-align:center"><i><b> " {{last_Status.description}}"</b></p></i></h4>

    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-profile:edit_profile' %}" class="btn btn-info"> Edit Profile </a>
    </div>

</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist" >
        <li role="presentation" class="active">
            <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
        </li>
	   <li role="presentation">
            <a href="#profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile</a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#teman" aria-controls="settings" role="tab" data-toggle="tab"> Teman </a>
        </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="status">
            {% include 'lab_login/tabs/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <!-- Apply the same here -->
            {% include 'lab_profile/pages/profile.html' %}

        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            <!-- Apply the same here -->

        </div>
        <div role="tabpanel" class="tab-pane fade" id="teman">
            <!-- Apply the same here -->
            {% include 'lab_search/lab_search.html' %}
        </div>
    </div>
</div>
{% endblock %}