{% extends "lab_login/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <img src="https://basecampclimbing.ca/static/basecamp/img/logo.png" width="150px" height="150px" class="gambarku">
            </div>
            <form action="{% url 'lab-login:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
					<label for="username"> Password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" class="btn btn-primary" value="Login" id="login-but">
            </form>
        </div>
    </div>
</div>
{% endblock %}