{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="LAB 10">
        <meta name="author" content="{{author}}">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
        <!-- Latest compiled and minified Locales -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/lab_search.css' %}" />
        <style>
            .rata-tengah {
                text-align: center;
                margin : 20px;
            }
            .judul {
                text-transform:uppercase;
                margin-bottom: 50px;
                margin-top: 50px;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700" rel="stylesheet">
        <title>
            Hehe
        </title>
    </head>
    <body>
        <script src="{% static 'js/lab_search.js' %}"></script>
        <header>
            {% block header %}

            {% endblock %}
            <!-- Your Header Here -->
        </header>
        <content>
                {% block content %}
                <!-- Your Content Here -->
                {% endblock %}
        </content>
        <footer>

        </footer>

        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/js" href="{% static 'js/lab_search.js' %}" />
    </body>
</html>