{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script type="text/javascript" src="//platform.linkedin.com/in.js">
    	api_key:   81g8jij0ht1lyp
    	authorize: true
    	lang:      en_US
    	onLoad:    onLinkedInLoad
	</script>
</head>
<body>
	<content>
		{% csrf_token %}
		<div>
			<script type="in/Login" class="login"></script>
			<div id="get-data"></div>
		</div>

		<div>
			<p> NPM : {{ fields.identity_number }} </p>
		</div>

		<div>
			<button onclick="updateData();" class="finished">Submit</button>
			<button onclick="window.location = '/lab-login/dashboard/';" class="exit">Exit</button>
		</div>

		<div class="select2-container">
			<h3>Skills</h3>
			<div class="select2" id="0">
				<select class="my-select-1"></select>
				<select class="my-select-2"></select>
				<button class="remove-my-select" onclick="remove('#0')"> - </button>
			</div>
		</div>

		<div>
			<button id="add-my-select">Add More Skills</button>
			<div class="radio-btn" id="show-score">
				<h3>Show Scores?</h3>
				<form action="">
  					<input type="radio" class="true-show" name="score" value="yes" checked> Yes
  					<input type="radio" class="false-show" name="score" value="no"> No
				</form>
			</div>
		</div>
	</content>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/qunit/qunit-2.4.1.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</body>
</html>
<script>

	var name, email, linkedin, picture;

	$(document).ready(function(){
		//---INPUT CODE HERE---//
		// Starts when the page is fully loaded (without any error)

		var skill = [
					{"id":0,"text":"Java"},
					{"id":1,"text":"Python"},
					{"id":2,"text":"C"},
					{"id":3,"text":"C++"},
					{"id":4,"text":"PHP"},
					{"id":5,"text":"English"}
					]

		var rank = 	[
					{"id":0,"text":"Noob"},
					{"id":1,"text":"Beginner"},
					{"id":2,"text":"Intermediate"},
					{"id":3,"text":"Advance"},
					{"id":4,"text":"Expert"},
					{"id":5,"text":"Legend"},
					{"id":6,"text":"Vinny"}
					]

		localStorage.setItem("skill",  JSON.stringify(skill));
		localStorage.setItem("rank",  JSON.stringify(rank));

		init();
		
		var counter = 1;
        $("#add-my-select").click(function(){
            var select2 = '<div class="select2" id="' + counter + '">' +
            '<select class="my-select-1"></select>\n' +
            '<select class="my-select-2"></select>\n' +
            '<button class="remove-my-select" onclick="remove(\'#' + counter + '\')"> - </button>\n' +
            '</div>'
            $(".select2-container").append(select2);
            init();
            counter++;
        });
	});

	function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getData);
    }

    var dict = {};

	function getData(){
		IN.API.Profile('me').fields(['first-name', 
			'last-name', 
			'email-address', 
			'public-profile-url', 
			'picture-urls::(original)']).result(displayData);
	}

	function displayData(profile){
		console.log(profile);
		var data = profile.values[0];

		name = data.firstName +" "+ data.lastName;
		email = data.emailAddress;
		linkedin = data.publicProfileUrl;
		picture = data.pictureUrls.values[0];

		$("#get-data").html(
			'<div class="profile">' +
      			'<div class="data">' +
      				'<img class="prof-picture" src="' + picture + '" alt="prof-pic" width="200" height="200"/>' +
      				'<h3>Personal Data</h3>' +
        			'<p class="prof-name"> Name : ' + name + '</p>' +
        			'<p class="prof-email"> Email : ' + email + '</p>' +
        			'<p class="prof-linkedin"> LinkedIn : ' + linkedin + '</p>' +
      			'</div>' +
    		'</div>'
    	); 

    	dict = data;
	}

	function updateData() { 

	    var skills = {};
        var types = $(".my-select-1 option:selected",".select2");
        var levels = $(".my-select-2 option:selected",".select2");
        var showScore = $('input[name="score"]:checked', "#show-score").val();

        for(i = 0; i < types.length; i++){
            skills[types[i].text] = levels[i].text;
        }
        console.log(skills);

    	$.ajax({
    		method : 'POST',
      		url : '{% url "lab-profile:update_data" %}',
      		dataType : 'json',
      		data : JSON.stringify({
                'skills': skills, 
                'showScore': showScore, 
                'name' : dict.firstName +" "+ dict.lastName,
        		'email': dict.emailAddress,
        		'linkedin': dict.publicProfileUrl,
        		'picture': dict.pictureUrls.values[0],
                }),

      		success : function(response) {
        		alert("Edit Complete!");
                document.location.reload("true");
      		},
      		error : function(error) {
        		console.log(error);
      		}
    	});
 	}

	var remove = function(id){
    	$("div").remove(id);
	};

	var init = function(){
		$('.my-select-1').select2({
				'data': JSON.parse(localStorage.getItem("skill"))
		})

		$('.my-select-2').select2({
				'data': JSON.parse(localStorage.getItem("rank"))
		})
	}
</script>
