{% extends "lab_search/layout/base.html" %}
{% block content %}
<!--<input type="text" id="myInput" onkeyup="search()" placeholder="Search" title="Type in a name">-->
<table id="myTable"
    data-toggle="table"
    data-classes="table table-hover table-condensed table-responsive"
    data-url="/lab-login/get-user-list/"
    data-sort-order="desc"
    data-search="true"
    data-query-params="queryParams"
    data-pagination="true">
<thead>
  <tr>
      <th data-field="fields.identity_number" id="NPM" data-sortable="true">NPM</th>
      <th data-field="fields.name" id="Nama" data-sortable="true">Nama</th>
      <th data-field="fields.angkatan" id="Angkatan" data-sortable="true">Angkatan</th>
      <th data-field="keahlian" id="Keahlian" data-sortable="true">Keahlian</th>
  </tr>
</thead>
</table>
{% endblock %}